.App {
  width: 35.1875rem /* 563/16 */;
  height: 53.125rem /* 850/16 */;
  background: #000000;
  color: #ffffff;
  margin: 50px auto;
}


.screen {
  font-size: 8.125rem /* 130/16 */;
  margin-bottom: 1.25rem /* 20/16 */;
  font-weight: 300;
  text-align: right;
}

.buttons {
  display: grid;
  grid-gap: 1.25rem /* 20/16 */;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.display {
  font-size: 8.125rem /* 130/16 */;
  font-weight: 300;
  margin-bottom: 1.25rem /* 20/16 */;
  text-align: right;
}